<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script src=“https://cdn.jsdelivr.net/emberjs/2.13.0/ember.min.js”></script>
</head>
<body{{ attributes }}>
<div id="skip">
    <a class="visually-hidden focusable skip-link" href="#main-menu">
        {{ 'Skip to main navigation'|t }}
    </a>
</div>
{{ page_top }}
{{ page }}
sjdflkasjdlkfjals flasdj flasdlkfjal
lkjsdflkadjsf
ksjdfklajsdlfjl
asjfdlja

sdklfjlkasdjf
kjasdklfjalksdfj
ksdjfklajsdklfj
kjsdfklajsdlfja
lkajsdfklajls
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
